[Desktop Entry]
Encoding=UTF-8
Name=Ladacoin
Comment=Ladacoin P2P Cryptocurrency
Exec=ladacoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/ladacoin;
Categories=Office;Finance;
Name[en_US]=ladacoin-qt.desktop
